html {
  font-family: var(--font-body);
  font-size: 16px;
  color: var(--color-neutral-12);
  background-color: var(--color-neutral-1);
}

body {
  font-family: var(--font-body);
  color: var(--color-neutral-12);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1, "liga" 1;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
  color: var(--color-neutral-12);
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-rendering: optimizeLegibility;
  margin: 0;
}

h1 {
  font-family: var(--font-display);
  font-weight: 700;
}

h2 {
  font-family: var(--font-heading);
  font-weight: 700;
}

h3 {
  font-family: var(--font-heading);
  font-weight: 600;
}

p {
  font-family: var(--font-body);
  color: var(--color-neutral-11);
  line-height: 1.6;
  letter-spacing: 0.01em;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
